---
layout: bootstrap
---

<!-- Adding the new Homepage here -->
<div id="home-hero">

  <h1><img src="/images/logo.png" alt="Codeception Logo">Codeception</h1>
  <p class="lead">适合每个PHP工程师的现代化测试框架。</p>

</div>

<div class="row home">
  <div class="col-sm-12 col-lg-12">
  <div class="row home-btns">
    <div class="col-sm-12 col-md-4 col-md-offset-2">
        <div class="well dark text-center">
          <a class="btn btn-primary btn-lg btn-block" href="/install"><span class="btn-label">安装</span></a>
          <p><br/>可以直接下载安装codeception，也可以把它添加到你的composer.json文件中进行安装。</p>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="well dark text-center">
          <a class="btn btn-lg btn-warning btn-block" href="/quickstart"><span class="btn-label">5min Quick Start</span></a>
          <p><br/>为已有的程序编写和运行测试用例<br>
            <b>最多只要5分钟!</b>
          </p>
        </div>
      </div>
  </div> <!-- /.row -->
      <div class="row home-btns">
        <div class="col-xs-12 text-center">
        </div> <!-- /.col -->
      </div> <!-- /.row -->

    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="well">
          <h4>验收测试</h4>
          <p>
            <b>Selenium WebDriver</b>, PhpBrowser. 数据清理. 持续集成. 远程代码覆盖.
          </p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="well">
          <h4>功能测试</h4>
          <p>
            <b>Symfony2</b>, <b>Laravel</b>, <b>Yii</b>, <b>Phalcon</b>, <b>Zend Framework</b>, Kohana, Databases, REST,
            SOAP, 功能覆盖.</p>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4">
          <div class="well">
           <h4>API测试</h4>
           <p>
            通过PHPBrowser进行<b>REST</b>, <b>SOAP</b>, <b>XML-RPC</b>的测试.
          </p>
          由PHPUnit驱动的<strong>单元测试(Unit Testing)</strong>.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-6">
<p>
        <!-- AddThis Button END -->

        <h4>运行中</h4>

        <img src="/images/demo.gif" style="max-width: 100%;" />

</p>



    <h4>特性</h4>
    <div class="well page">
              <ul>
                <li><strong>Selenium WebDriver</strong> 整合</li>
                <li>通过<strong>name, CSS, XPath</strong>匹配HTML 节点</li>
                <li>支持<strong>Symfony2, Laravel4, Yii, Phalcon, Zend Framework</strong> </li>
                <li>引入<strong>PageObjects</strong> 和 StepObjects</li>
                <li><strong>BDD</strong> 高可读的测试代码</li>
                <li>支持 <strong>PHPUnit</strong></li>
                <li>支持多种技术类型的API 测试: <strong>REST</strong>,<strong>SOAP</strong>,<strong>XML-RPC</strong></li>
                <li><strong>Facebook</strong> API 测试</li>
                <li><strong>数据清理</strong></li>
                <li>HTML, XML, TAP, JSON 报表</li>
                <li>代码覆盖和远程代码覆盖</li>
                <li>并发执行</li>
              </ul>

    </div>


    <div class="well page">
      <h3>你想问的问题</h3>
    <br>
      <h4>是否我真正的需要用到？</h4>
      <p>
        如果你通过表单开发了一个复杂的web应用程序，那么你 <em>需要</em>使用测试框架。
        一个测试框架允许你测试所有的链接，表单，页面，API和其它任意的东西，而这些通过自动化测试框架只需要几分钟就能完成。
      </p>
    <br>
      <h4>为什么要用Codeception去替代PHPUnit？</h4>
      <p>PHPUnit 只提供有有限的几种特性去进行功能测试。 Codeception是<b>PHPUnit的加强版</b>。
      你需要的任何跟测试相关的功能都已经嵌入到系统中，并且马上就能使用。再也不需要为配置Selenium，数据清理，写入Xpaths或者其他特性而感到痛苦。
      </p>
    <br>

      <h4>它看起来像Behat</h4>
      <p>
        Codeception与Behat 不相似，Codeception测试框架工作在PHP环境中。 它们都很灵活很简单。 
        在测试代码中，你可以使用<b>变量和操作符</b>，<b>CSS和XPath</b> 进行定位。这些特性允许你为你的web应用程序构建一个可靠的自动化测试平台。 对开发者，管理者和QA团队而言，Codeception编写的测试脚本是简单和高可读性的。
      </p>

    <br>
      <h4>我们已经在用Selenium 工具了.为什么还要用Codeception?</h4>
      <p>Codeception能与Selenium一起很好的工作。但是使用Codeception你能使用PHP编写你的测试脚本。
        主要的原因是： <strong>Selenium测试工具依赖于XPath定位</strong>。
        如果你修改了你的页面布局，测试将会失败。 Codeception 使用多种方式进行定位。你可以使用name，labels，Button的name 和css 去匹配元素。 It's much easier to support the Codeception test then Selenium's. Codeception能够在测试脚本中清理数据，能检查数据表中的值，也能够生成代码覆盖脚本。
      </p>

    <br>
      <h4>能够使用Codeception测试遗留的项目？</h4>
      <p>当然，你可以使用Codeception对任何遗留的项目进行黑盒测试。
      但是因为某些规则，测试当代的web应用程序会更好一些。 
      Codeception已经作为一个模块锲入到<b>所有流行的PHP框架</b>中，你可以几分钟之内开始进行代码测试。
      单元测试？
      编写单元测试就像在使用PHPUnit一样。Codeception把你的测试脚本放到某一个地方，确保它们的结构并且可读。
      </p>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6">
    <h5>Blog</h5>
        <ul class="list-group">
        {% for post in site.posts limit: 3 %}
        <li class="list-group-item">
          <div class="pull-right">{{ post.date | date: "%B %d, %Y" }}</div>
          <span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </span>
        </li>
        {% endfor %}
        </ul>
<hr>
        <h2>例子...</h2>
        <h3>验收测试</h3>
        <span class="badge">PhpBrowser</span>
        <span class="badge">Db</span>
        <p>
{% highlight php %}
<?php
$I = new AcceptanceTester($scenario);
$I->wantTo('create wiki page');
$I->amOnPage('/');
$I->click('Pages');
$I->click('New');
$I->see('New Page');
$I->fillField('title', 'Hobbit');
$I->fillField('body', 'By Peter Jackson');
$I->click('Save');
$I->see('page created'); // notice generated
$I->see('Hobbit','h1'); // head of page of is our title
$I->seeInCurrentUrl('pages/hobbit');
$I->seeInDatabase('pages', array('title' => 'Hobbit'));
?>
{% endhighlight %}
        </p>
        <p>测试脚本被安装了Selenium Webdriver 的火狐浏览器执行，或者其它支持的浏览器。
        你也可以在基于CURL的PHP浏览环境下执行测试脚本。
        </p>
          <p>
          <a class="btn btn-default" href="/docs/03-AcceptanceTests"><span class="btn-label">阅读更多关于验收测试文档 →</span></a>
          </p>

          <p>
            这些测试在一些流行的PHP框架中作为一个功能测试脚本去执行。
           Codeception支持<strong>Symfony2</strong>, Zend Framework 和 Kohana.
          </p>

          <p>
          <a class="btn btn-default" href="/docs/04-FunctionalTests"><span class="btn-label">阅读更多关于功能测试文档 →</span></a>
          </p>

            <hr>

<h3>API Test</h3>
<span class="badge">PhpBrowser</span>
<span class="badge">REST</span>

<p>
{% highlight php %}
<?php
$I = new ApiTester($scenario);
$I->wantTo('create a new user by API');
$I->amHttpAuthenticated('davert','123456');
$I->haveHttpHeader('Content-Type','application/x-www-form-urlencoded');
$I->sendPOST('/users', array('name' => 'davert' ));
$I->seeResponseCodeIs(200);
$I->seeResponseIsJson();
$I->seeResponseContainsJson(array('result' => 'ok'));
?>
{% endhighlight %}
</p>

<p>
这些测试脚本会在PHPBrowser中执行，或者作为一个功能测试脚本在流行的PHP框架中执行。
  </p>

  <p>
        <a class="btn btn-default" href="/docs/10-WebServices"><span class="btn-label">阅读更多关于API测试的文档 →</span></a>
  </p>
<hr>

<h3>Unit Test</h3>
<span class="badge">Unit</span>
<span class="badge">Db</span>
<p>
  {% highlight php %}
  <?php
  use \Codeception\Util\Stub;
  class UserTest extends \Codeception\TestCase\Test
  {
      public function testUserSave() {
          $user = Stub::make('User');
          $user->setName('davert');
          $this->assertEquals('davert', $user->getName());
          $user->save();
          $this->tester->seeInDatabase('users', array('name' => 'davert'));
      }
  }
  ?>
  {% endhighlight %}
  </p>
<p>
  PHPUnit 测试格式有一些非常有用的帮助脚本。
 在这些测试中我们检测通过命令‘seeInDatebase’保存到数据库的值是否正确。
</p>
<a class="btn btn-default" href="/docs/05-UnitTests"><span class="btn-label">阅读更多关于单元测试的文档 →</span></a>

<hr>

<h2>AspectMock</h2>
<p>
  Codeception的一个额外的项目，主要是为了进行单元测试，测试任意的PHP脚本。
  <a href="https://github.com/Codeception/AspectMock">AspectMock</a>
   是一个非常有用的虚拟对象测试框架（mocking framework），它能够虚拟所有实际存在的东西。
   每一个静态方法都能在现在进行测试。
   使用它去对遗留的代码和没有测试的代码进行测试吧 。
 
</p>

{% highlight php %}
<?php;
// mocking static method calls
$this->assertEquals('users', User::tableName());
test::double('User', ['tableName' => 'fake_users']);
$this->assertEquals('fake_users', User::tableName());

// mocking class method calls
test::double('User', ['getEmail' => 'davert@mail.ua']);
$user = new User;
$this->assertEquals('davert@mail.ua', $user->getEmail());
?>
{% endhighlight %}

<a class="btn btn-primary" href="https://github.com/Codeception/AspectMock">
  安装 AspectMock →
</a>

</div>
</div>
